/* Featured Item Block Styles */

.featured-item-wrapper {
    background: var(--light-color);
    padding: 22px;
    border-radius: 25px;
    margin-bottom: 20px ;
    position: relative;
}

.featured-item-wrapper::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(135deg, var(--secondary-color), var(--brand-color));
    border-radius: 27px;
    z-index: -1;
}

.featured-item-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.featured-item-header i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--brand-color, #2119d4);
}

.featured-item-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--brand-color)
}

.featured-item-description {
    margin: 0;
    font-size: 20px;
    color: var(--text-color);}


    @media screen and (max-width: 768px) {
        .featured-item-title {
            font-size: 22px !important;
        }

        .featured-item-description {
            font-size: 22px !important;
        }

        .featured-item-header i {
            font-size: 22px;
       
    }